# Variables de entorno para el backend

# MongoDB
MONGO_URL=mongodb://localhost:27017
DB_NAME=solar

# MQTT
MQTT_BROKER=wss://broker.hivemq.com:8884/mqtt
MQTT_TOPIC=solar/data

# Server
PORT=3001
NODE_ENV=development
